<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <title>Document</title>
    </head>
    <body>

        <div class="main">
            <table>

                <thead>
                    <tr>
                        <th colspan="5" class="title">
                            <select name="" id="">
                                <option value="">Group1</option>
                                <option value="">Group2</option>
                            </select>
                        </th>
                        <th class="title plus" style="color: black;" colspan="1">
                            <i class="fa fa-plus" aria-hidden="true" onclick="add()"></i>
                        </th>
                    </tr>
                    <tr>
                        <th class="id">Id</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Rutbe</th>
                        <th colspan="2">Date</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <form action="" id="1">
                            <td>1</td>
                            <td><input type="text" value="Muxtar" disabled></td>
                            <td><input type="text" value="Bayramov" disabled></td>
                            <td><input type="text" value="kapitan" disabled></td>
                            <td><input type="date" disabled></td>

                            <td class="icons">

                                <button type="button" onclick="editSave(this)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>

                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form action="" id="2">
                            <td>2</td>
                            <td><input type="text" value="Omer" disabled></td>
                            <td><input type="text" value="Veliyev" disabled></td>
                            <td><input type="text" value="Leytnant" disabled></td>
                            <td><input type="date" disabled></td>
                            <td class="icons">
                                <button type="button" onclick="editSave(this)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>

                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form action="" id="3">
                            <td>3</td>
                            <td><input type="text" value="Rufet" disabled></td>
                            <td><input type="text" value="Nuriyev" disabled></td>
                            <td><input type="text" value="cavus" disabled></td>
                            <td><input type="date" disabled></td>

                            <td class="icons">

                                <button type="button" onclick="editSave(this)"><i class="fa fa-edit" aria-hidden="true"></i></button>
                                <button type="button"><i class="fa fa-trash" aria-hidden="true"></i></button>

                            </td>
                        </form>
                    </tr>
                    <tr class="add">
                        <form action="">
                            <td colspan="2"><input type="text" value="" placeholder="Name"></td>
                            <td><input type="text" value="" placeholder="Last name"></td>
                            <td><input type="text" value="" placeholder="Rutbe"></td>
                            <td><input type="date"></td>

                            <td class="icons">

                                <button type="button"><i class="fa fa-save" aria-hidden="true"></i></button>

                            </td>
                        </form>
                    </tr>
                </tbody>
                
            </table>
        </div>
        <script src="../static/js/index.js"></script>
    </body>
</html>